<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	<title>XI-TKJ-2</title>
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
		<link rel="icon" href="/static/img/icon.png">
</head>

<body>

	<div class="container">
		<div class="topbar">
			<h1>XI-TKJ-2</h1>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Article</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>

		<div class="content">			
			<p>Selamat Datang <br>di Website XI TKJ 2 SMK NEGERI 1 MOJOKERTO</p>
		</div>

	</div>

</body>
</html>