<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/css/about.css">
		<link rel="icon" href="/static/img/icon.png">
</head>

<body>
	<nav>
	<div class="container">
		<div class="topbar">
			<h1>XI-TKJ-2</h1>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Article</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
	</div>
</nav>


</body>
</html>